################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FIT3179/config
/.vs/slnx.sqlite
