body {
    background-color: #e6f4fd
}
.header {
    text-align : center
}
.names {
    font-size: 15px;
    padding-bottom:50px;
    display: inline-block
}
#visMap {
    font-size: 12px;
    font-weight: 600;
    font-family:"aria";
}