body {
    background-image: linear-gradient(to right, #9dbcd1, #e6f4fd, transparent, #e6f4fd, #a7c2d4);
    max-width: 100vw;
    min-width: 500px;
}
.header {
    text-align : center
}
.names {
    font-size: 15px;
    padding-bottom:50px;
    display: inline-block
}
#visMap {
    font-size: 12px;
    font-weight: 600;
    font-family:"aria";
}
.row {
    width: 100vw;
}